@import url(../css/padrao.css);

section.about-azul {
    background: var(--background-home);
}

.about-titulo-img img {
    width: 50%;
}

.about-titulo-img {
<<<<<<< HEAD
    display: flex;
=======
    /* prop que define como vai ser exibido os elementos */
    display: flex;
    /* horizontal */
    justify-content: space-between;
    /* vertical */
>>>>>>> e611d501e673b248d85bb9ab9186ce6b6aeaca50
    align-items: center;
    padding: 4rem 0rem;
}

.about-titulo-img h1 {
    color: var(--primeira-cor);
    font-size: 2.5rem;
}

.texto-about {
    font-size: 1.2rem;
    padding: 3rem 4rem;
}