@import url(../css/padrao.css);



section.about-azul {
    background: var(--background-home);
}

.about-titulo-img img {
    width: 50%;
}

.about-titulo-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0rem;
}

.about-titulo-img h1 {
    color: var(--primeira-cor);
    font-size: 2.5rem;
}

.texto-about {
    position: relative;
    top: -3rem;
    z-index: 10;
    font-size: 1.5rem;
    padding: 3rem 4rem;
    background-color: var(--container-destino);
    border: 1px solid var(--cinza);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}