@import url(../css/padrao.css);

nav {
    background: var(--primeira-cor);
    box-shadow: var(--box-shadow);
    position: relative;
    padding: 10px 10%;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 70px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: var(--branco);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
}

nav li a:hover{
    background: var(--terceira-cor);
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
}

nav li:first-child {
    margin-right: auto;
}

nav figure {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav figure a {
    color: var(--branco);
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 5px;
    transition: .5s ease;
}

nav figure a:hover{
    background: var(--primeira-cor);
    transition: 150ms ease;
}

nav .sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

nav .sub-menu-wrap.open-menu{
    max-height: 400px;
}

nav .sub-menu {
    background: var(--branco);
    border-radius: var(--border-radius);
    padding: 20px;
    margin: 10px;
    box-shadow: var(--box-shadow);
}

nav .sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: var(--cinza);
    margin: 15px 0 10px;
}

.user-info{
    display: flex;
    align-items: center;
}

.user-info h3{
    font-weight: 500px;
    color: var(--primeira-cor);
}

.sub-menu-link {
    padding: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--terceira-cor);
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link:hover a{
    background-color: var(--branco);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

.sub-menu-link span {
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover{
    background: var(--branco);
}

.user-icon{
    border-radius: 50%;
    padding: 5px;
    margin: 0 10px;
    background: var(--terceira-cor);
}

.user-icon:hover{
    background: var(--azul-footer);
    transition: all 0.3s ease-in-out;
}