@import url(../css/padrao.css);
nav {
    background: var(--primeira-cor);
    box-shadow: var(--box-shadow);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 70px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: var(--branco);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

nav a:hover{
    background: var(--terceira-cor);
    transition: all 0.3s ease-in-out;
}

nav li:first-child {
    margin-right: auto;
}

nav figure {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav figure a {
    color: var(--branco);
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 5px;
    transition: .5s ease;
}

nav figure a:hover{
    background: var(--primeira-cor);
    transition: 150ms ease;
}