@import url(../css/padrao.css);
header {
    background: var(--primeira-cor);
    box-shadow: var(--box-shadow);
}
.navbar figure {
    width: 7.75rem;
    /* Altura */
    height: 5.3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar figure a {
    color: var(--branco);
    /* Grossura da letra */
    font-weight: 400;
    font-size: 1.5rem;
    /* Espaço das letras */
    letter-spacing: 5px;
    /* Animação de transição suave em 5 segundos */
    transition: .5s ease;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Ou seja, os itens não vão descer mesmo se não houver espaço */
    flex-wrap: nowrap;
}
nav a {
    color: var(--branco);
    text-decoration: none;
    /* Transforma o texto em CAPSLOCK */
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.75rem;
    padding: 0px 0.625rem 0px 0.625rem;
    transition: 0.5s ease;
}
nav a:hover, .navbar figure a:hover {
    color: var(--cinza);
}