:root
{
    --background: #fefefe;
    --primeira-cor: #001F3F;
    --segunda-cor: #F96E2A;
    --terceira-cor: #3A6D8C;
    --quarta-cor: #B3C8CF;
    --background-home: #C7D9DD;
    --cinza: #AAA6A0;
    --azul-footer: #78B3CE;
    --preto: #000;
    --branco: #fff;
    --box-shadow: 0 0.9375rem 10px -0.9375rem #111;
    --container-destino: #F1F0E8;
    --border-radius: 24px;
}
html{
    max-width: 1920px;
    width: 100%;
<<<<<<< HEAD
=======

>>>>>>> e611d501e673b248d85bb9ab9186ce6b6aeaca50
    margin: 0 auto;
}
* {
    margin: 0;
<<<<<<< HEAD
=======

>>>>>>> e611d501e673b248d85bb9ab9186ce6b6aeaca50
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
}
.wrapper {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}
figure {
    margin: 0;
}
h1 {
    font-size: 1.6875rem;
}
h2 {
    font-size: 1.5rem;
}
a {
    text-decoration: none;
}