/* CSS padrão onde guarda as váriaveis e configurações gerais */
/* Váriavel de cores e  outros atributos*/
:root
{
    --background: #fefefe;
    --primeira-cor: #001F3F;
    --segunda-cor: #F96E2A;
    --terceira-cor: #3A6D8C;
    --quarta-cor: #B3C8CF;
    --background-home: #C7D9DD;
    --cinza: #AAA6A0;
    --azul-footer: #78B3CE;
    --preto: #000;
    --branco: #fff;
    --box-shadow: 0 0.9375rem 10px -0.9375rem #111;
    /* Box shadow é uma sombra no elemento (efeito de sombra) */
    --container-destino: #F1F0E8;
    /* Border-radius é o quão redondo é o elemento */
    --border-radius: 24px;
}
html{
    /* Máximo de largura */
    max-width: 1920px;
    /* Largura */
    width: 100%;
    /* Margem (empurra pra fora) */
    margin: 0 auto;
}
* {
    margin: 0;
    /* Padding (empurra pra dentro) */
    padding: 0;
    box-sizing: border-box;
}
body {
    /* Fonte usada no site */
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
}
.wrapper {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}
figure {
    margin: 0;
}
h1 {
    /* Tamanho da letra */
    font-size: 1.6875rem;
}
h2 {
    font-size: 1.5rem;
}
a {
    /* Decoração do texto */
    text-decoration: none;
}