@import url(./padrao.css);

.configuracao-usuario {
    background-color: var(--background);
    height: 100vh;
    display: flex;
    align-items: center;
}

.lado-azul {
    width: 30%;
    height: 100%;
    background-color: var(--terceira-cor);
    color: var(
    --branco);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5rem 2rem;
    box-shadow: var(--box-shadow);
}

.lado-azul h1 {
    margin-bottom: 2rem;
}

.lado-azul h3 {
    font-weight: 400;
}

.lado-azul figure {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.lado-azul figure svg {
    width: 100%;
    height: 100%;
}

.lado-branco {
    height: 100%;
    padding: 5rem 0;
    width: 70%;
    overflow-y: auto;
    max-height: 100vh;
}


#lista-de-endereco,
.endereco-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 2rem;
}

.configuracao-usuario h2 {
    margin-bottom: 2rem;
    color: #aaa;
}

.endereco-item {
    margin-top: 1rem;
    padding: 1rem 0;
    width: 100%;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: var(--border-radius);
    background: #fdfdfd;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.endereco-item p {
    padding: 0 2rem;
}

.icon-endereco {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--segunda-cor);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.icon-endereco svg {
    width: 45%;
    height: 45%;
    fill: #fff;
}

.icon-container-endereco {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 2rem;
}

.adicionar-endereco input {
    padding: 1rem;
    margin: 0;
    width: 100%;
}

.adicionar-endereco a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--terceira-cor);
    color: var(--branco);
    width: 160px;
    height: 55px;
    border-radius: var(--border-radius);
    font-size: 20px;
    top: 0;
    left: 87%;
}

.align-input-botao {
    width: 100%;
    height: 60px;
    position: relative;
    margin-top: 1rem;
}

.titulo a {
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    margin: 10px 0;
}


button#adicionar-endereco-link {
    width: 150px;
    margin: 25px 0;
    height: 40px;
    border: none;
    border-radius: var(--border-radius);
    font-size: 16px;
    color: var(--branco);
    background: var(--segunda-cor);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#tipo-endereco, #rua-endereco, #numero-endereco, #cep-endereco {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tipo-endereco h3, #rua-endereco h3, #numero-endereco h3, #cep-endereco h3 {
    color: var(--primeira-cor);
}

.icon-endereco:hover {
    transform: scale(1.080);
}