@import url(../css/padrao.css);

.background {
    background: var(--quarta-cor);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.forms-caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Gap é um espaço entre os elementos */
    gap: 15px;
    background-color: #fff;
    padding: 2rem;
    width: 30%;
    height: 85%;
    border-radius: 24px;
}

.forms-caixa form {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    width: 100%;
    align-items: center;
}
.birthday {
    width: 100%;
    border-radius: 16px;
    font-size: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.forms-caixa input {
    /* borda */
    border: 1px solid #ccc;
    border-radius: 24px;
    padding: 10px; 
    font-size: 1em; 
    width: 100%; 
    transition: 0.3s;
}

.secundary-button {
    border: none;
    background-color: var(--segunda-cor);
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    /* text-decoration: none; */
    font-weight: 500;
    font-size: 1.1em;
    width: 50% !important;
    /* O mouse estará no modo (aponte) */
    cursor: pointer;
}

.forms-caixa h2 {
    color: var(--primeira-cor);
}