@import url(../css/padrao.css);

.voos-populares {
    height: 100%;
}
.container-destino {
    background-color: var(--container-destino);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    width: 55rem;
    height: 7rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.align-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.voos-populares-pacotes {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.voos-populares h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 3rem;
}

.paris-fernando-marrocos {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}
.fernando-marrocos {
    display: flex;
    align-items: center;
    gap: 15px
}
.paris {
    width: 100%;
    height: auto;
}
.paris img, .fernando img, .marrocos img, .mexico-img img {
    width: 100%;
    transition: .7s ease;
    cursor: pointer;
}
.paris img:hover, .fernando img:hover, .marrocos img:hover, .mexico-img img:hover{
    transform: scale(1.030);
}
.fernando, .marrocos {
    width: 100%;
    height: auto;
    margin-top: 3rem;
}
.mexico {
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.mexico-img {
    width: 300px;
}

.voos {
    padding-bottom: 5rem;
    padding-top: 8rem;
}

.input-destino input {
    padding: 1em;
    font: inherit;
    border-radius: var(--border-radius);
    border: none;
    border-left: none;
    border: 2px solid var(--terceira-cor);
    background-color: var(
    --background);
    transition: 150ms ease;
    color: #ccc;
}

.input-destino {
    padding: 0 2rem;
}
.botao-encontre-seu-destino {
    width: 250px;
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    background: var(--segunda-cor);
    border-radius: 50px 0;
    color: var(--branco);
    font-weight: 600;
    transition: width 0.5s ease, border-radius 0.5s ease, color 0.5s ease; 
    cursor: pointer;
}

.botao-encontre-seu-destino:hover {
    width: 100%;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
}

.botao-encontre-seu-destino:hover ~ .destino-inputs {
    opacity: 0;
    display: none; /* OBS: `display` não é animável! */
}
