@import url(../css/padrao.css);

.voos-populares {
    height: 100vh;
}
.container-destino {
    background-color: var(--container-destino);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 55rem;
    height: 10rem;
    position: absolute;
}
.container-destino figure, .container-destino figure img{
    width: 20rem;
    height: 10rem;
}
.align-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.voos {
    margin-top: 12rem;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.voos h2 {
    margin-bottom: 4rem;
    text-align: center;
}
.paris-fernando-marrocos {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}
.fernando-marrocos {
    display: flex;
    align-items: center;
    gap: 15px
}
.paris {
    width: 100%;
    height: auto;
}
.paris img, .fernando img, .marrocos img, .mexico-img img {
    width: 100%;
}
.fernando, .marrocos {
    width: 100%;
    height: auto;
    margin-top: 3rem;
}
.mexico {
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.mexico-img {
    width: 300px;
}