@import url(../main.css);
header {
    background: var(--primeira-cor);
    box-shadow: var(--box-shadow);
}
.navbar figure {
    width: 7.75rem;
    height: 5.3125rem;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
nav a {
    color: var(--branco);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.75rem;
    padding: 0px 0.625rem 0px 0.625rem;
    transition: 0.5s ease;
}
nav a:hover {
    color: var(--cinza);
}